.footer{
    background-color: $bcg_color;
    padding: 30px 0;
}
.footer .container{
    display: flex;
    justify-content: space-between;
    color: #999;
    letter-spacing: 1px;
}
.footer .container .copy{
    font-size: 20px;
}
.creator{
    color: #999;
    transition: color linear 0.3s;
}
.creator:hover{
    color: $hover_color;
    cursor: pointer;
}

/* media queries footer start */

@media (max-width: 768px) {
    .footer .container{
        padding: 0 16px;
    }
}

@media (max-width: 426px) {
    .footer .container{
        flex-direction: column-reverse;
        align-items: center;
    }
}

/* media queries footer end */
