.header{
    background-color: $bcg_color;
}
.header .container .logo{
    font-size: 68px;
    color: white;
}
.header .container .admin{
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    margin-left: 10px;
    border-bottom: 1px solid $second_color;
}
.header .container .desc{
    color: $second_color;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.header .container .desc span {
    font-weight: bold;
    font-size: 20px;
}
.header .container .menu {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    background: $bcg_menu;
}
.right, .left{
    display: flex;
}

.menu__link{
    text-transform: uppercase;
    color: #ffffff;
    line-height: 50px;
    padding:0 20px;
    position: relative;
    transition: background-color linear 0.3s;
    letter-spacing: 1px;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}
.right_link{
    justify-content: right;
    //padding: 0 20px;
    //width: auto;
}
.menu__link:hover {
    background-color: $hover_color;
}

.list__item{
    position: relative;
    width: 140px;
}
.list__item:hover .sublist{
    display: flex;
}
.sublist{
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: $bcg_menu;
    flex-direction: column;
    width: 100%;
}
