/* start section login and register styles */

.login{
    margin: 100px auto;
    max-width: 400px;
}
.form__login{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 100%;
}

.form__group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form__group input{
    border: 1px solid #ccc;
    color: #333;
    padding: 8px 16px;
    font-size: inherit;
    background-color: $input_color;
}
.form__group input:focus {
    box-shadow: 0 0 0 0.2rem rgba($heading_color, 0.25)
}
.form__check .form__check__input{
    margin-right: 8px;
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
}
.form__submit{
    margin-top: 15px;
}
.form__submit .form__submit__btn{
    font-size: inherit;
    width: 100%;
    padding: 10px 16px;
    color: #ffffff;
    background-color: $bcg_menu;
    transition: background-color linear 0.3s;
}
.form__submit .form__submit__btn:hover{
    background-color: $hover_color;
}

/*section create start */

.create{
    margin: 35px auto;
    max-width: 800px;
}
.form__create{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.form__group select{
    border: 1px solid #ccc;
    color: #333;
    padding: 8px 16px;
    font-size: inherit;
    background-color: $second_color;
    margin-bottom: 15px;
    font-family: $font-family-sans-serif;
}
.form__group select option{
    cursor: pointer;
}
.form__group .inform{
    border: 1px solid #ccc;
    color: #333;
    padding: 8px 16px;
    font-size: inherit;
    background-color: $second_color;
    font-family: $font-family-sans-serif;
    resize:vertical;
    min-height: 175px;
}
.form__group .inform.desc{
    min-height: 100px;
}
.error{
    padding: 5px 16px;
    background-color: $hover_color;
}
.forget_pas{
    color: $bcg_menu;
    margin-top: 5px;
    font-size: inherit;
}
.profile{
    margin: 100px auto;
    max-width: 600px;
    display: flex;
    gap: 20px;
}
.profile .profile__container{
    width: 180px;
    height: 180px;
    border: 5px solid #e6e6e6;
}
.profile .profile__container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile .form__container{
    flex: 1;
}
