/* section news start */
.news{
    margin: 35px 0;
    display: flex;
}
.categories__block{
    width: 250px;
}
.categories{
    margin-top: 40px;
}
.categories__block .categories__list{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.categories__block .categories .categories__list .categories__link{
    text-transform: uppercase;
    line-height: 35px;
    color: $heading_color;
    padding-left: 20px;
    letter-spacing: 1px;
}
.categories__block .categories .categories__list .categories__link:hover{
    color: $hover_color;
}
.news__block{
   flex: 1;
}
.empty__news{
    margin-top: 25px;
    font-size: 20px;
    text-align: center;
}
/* section news end */

/* section article start */
.article__block{
    margin: 35px 0;
}
.article__block .article__top .image__container{
    width: 100%;
    height: 280px;
    border: 5px solid #e6e6e6;
    margin-bottom: 25px;
}
.article__block .article__top .image__container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.article__item__head{
    font-size: 28px;
    font-weight: bold;
    color: $heading_color;
    margin: 20px 0;
}

/* start section tools admin */
.tools{
    display: flex;
}

.tools .tool{
    color: white;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    background-color: $gray;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color linear 0.3s;
    margin-right: 5px;
}
.tools .tool:hover{
    background-color: $hover_color;
}
/* end section tools admin */

/*section paginate start */

.pagination{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    padding: 0 20px;
}
.pagination li {
    width: 35px;
    height: 35px;
    background-color: $bcg_menu;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: background-color linear 0.3s;
}
.pagination li a{
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination li:hover, .pagination li.active{
    background-color: $hover_color;
}
