/* section news start */
.news{
    margin: 35px 0;
    display: flex;
}
.categories__block{
    width: 200px;
}
.categories__block .categories .categories__list .categories__link{
    text-transform: uppercase;
    line-height: 50px;
    color: $heading_color;
    padding-left: 20px;
    letter-spacing: 1px;
}
.categories__block .categories .categories__list .categories__link:hover{
    color: $hover_color;
}
.news__block{
   flex: 1;
}
/* section news end */

/* section article start */
.article__block{
    margin: 35px 0;
}
.article__block .article__top .image__container{
    width: 100%;
    height: 175px;
    border: 5px solid #e6e6e6;
    margin-bottom: 25px;
}
.article__block .article__top .image__container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.article__item__head{
    font-size: 28px;
    font-weight: bold;
    color: $heading_color;
    margin: 20px 0;
}
