/* section news start */
.news{
    margin: 35px 0;
    display: flex;
}
.categories__block{
    width: 250px;
    position: relative;
}
.categories{
    margin-top: 40px;
}
.categories__block .categories__list{
    margin-bottom: 8px;
}
.categories__block .categories .categories__list .categories__link{
    text-transform: uppercase;
    line-height: 35px;
    color: $heading_color;
    padding-left: 20px;
    letter-spacing: 1px;
}
.categories__block .categories .categories__list .categories__link:hover{
    color: $hover_color;
}
.category__selector{
    color: #ffffff;
    padding: 12px;
    background-color: $bcg_menu;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.category__selector:hover{
    background-color: $hover_color;
}
.category__selector p{
    text-transform: uppercase;
    padding-right: 12px;
}
.news__block{
   flex: 1;
}
.empty__news{
    margin-top: 25px;
    font-size: 20px;
    text-align: center;
}
/* section news end */

/* section article start */
.article__block{
    margin: 35px 0;
}
.article__block .article__top .image__container{
    width: 100%;
    height: 280px;
    border: 5px solid #e6e6e6;
    margin-bottom: 25px;
}
.article__block .article__top .image__container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.article__item__head{
    font-size: 28px;
    font-weight: bold;
    color: $heading_color;
    margin: 20px 0;
}

/* start section tools admin */
.tools{
    display: flex;
}

.tools .tool{
    color: white;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    background-color: $gray;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color linear 0.3s;
    margin-right: 5px;
}
.tools .tool:hover{
    background-color: $hover_color;
}
/* end section tools admin */

/*section paginate start */

.pagination{
    margin: 15px 0;
    display: flex;
    justify-content: center;
    padding: 0 20px;
}
.pagination li {
    width: 35px;
    height: 35px;
    background-color: $bcg_menu;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: background-color linear 0.3s;
}
.pagination li a{
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination li:hover, .pagination li.active{
    background-color: $hover_color;
}

/* section media queries for news start */

@media (max-width: 768px) {
    .news{
        margin: 35px 0;
        display: flex;
        flex-direction: column;
    }
    .categories__block{
        width: auto;
    }
    .categories{
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
        margin-bottom: 20px;
        justify-content: center;
    }
    .categories__list{
        margin-right: 12px;
        margin-bottom: 0;
    }
    .categories__block .categories .categories__list .categories__link{
        padding-left: 0;
        letter-spacing: inherit;
        line-height: inherit;
    }
}

@media (max-width: 426px){
    .category__selector{
        display: flex;
    }
    .categories{
        display: none;
        position: absolute;
        flex-wrap: nowrap;
        top:50px;
        left: 0;
        width: 100%;
        flex-direction: column;
        height: 210px;
        overflow-y: scroll;
        justify-content: flex-start;
        background-color: $bcg_menu;
    }
    .categories.active{
        display: flex;
    }
    .categories__block .categories__list{
        margin-bottom: 0;
        display: flex;
        gap: 12px;
        justify-content: center;
        align-items: center;
    }
    .categories__block .categories .categories__list .categories__link{
        color: #ffffff;
        display: flex;
        justify-content: center;
        background-color: $bcg_menu;
        padding: 8px 0;
    }
    .categories__block .categories .categories__list .categories__link:hover{
        color: #ffffff;
        background-color: $hover_color;
    }
    .news{
        margin: 0;
    }
    .article__item__heading{
        margin-top: 20px;
    }
}

/* section media queries for news end */
