// Body


// Typography
$font-family-sans-serif: 'Yanone Kaffeesatz', sans-serif;
$second-font-family: Arial, Helvetica, sans-serif;


// Colors
$hover_color: #ff2828;
$bcg_color: #16171b;
$bcg_menu: #060608;
$second_color: #c4c4c4;
$gray: #999;
$heading_color: #333;

